REDIS_URL=redis://localhost:6379
REDIS_HASH_KEY=face:vectors

RABBITMQ_URL=amqp://guest:guest@localhost/
RABBITMQ_QUEUE=face_recognition

FACE_THRESHOLD=0.6

# .NET API URL
DOTNET_API_URL=http://localhost:5081

DEBUG=false
